.container2{
    max-width: 600px;
    margin: 10px auto;
}

.profile-frame{
    display: flex;
    justify-content: space-evenly;
}

.profile-pic{
    height: fit-content;
}

.profile-pic img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 110px;
}

.profile-info{
    display: flex;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.gallery img{
    width: 30%;
    margin: 10px;
}

.follow-btn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 45px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #333fe5;
    border-radius: 15px;
    margin-left: 20px;

}

.message-btn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 45px;
    font-size: 0.8rem;
    border: none;
    color: black;
    background: rgb(216, 212, 212);
    border-radius: 15px;
    margin-left: 20px;

}

.changePhoto {
    background-color: #fff;
    border-radius: 20px;
  }
  
  .changePhoto div {
    padding: 15px 80px;
  }

  .upload-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
  
    font-size: 15px;
  }